@use "variables" as *;

.form-visible .header-row,
.form-visible .scrollable-content {
  display: none;
}

.header-row {
  box-sizing: border-box;
  display: flex;
  background-color: transparent;
  z-index: 10;
  padding: 2rem 1rem 0rem 1rem;
  font-weight: bold;
}

.col {
  box-sizing: border-box;
  padding: 0 0 0.8rem 0.5rem;
  margin: 0 10px 0px 10px;
  border-bottom: 2px solid #bc9e81;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  z-index: 1;

  &.name {
    width: 32.5%;
    font-weight: bolder;
  }
  &.description {
    width: 32.5%;
  }
  &.deadline {
    width: 15%;
  }
  &.tasks {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-left: 0;
    justify-content: center;
    text-align: center;
  }

  .length {
    padding: 0px;
    margin: 0px !important;
    justify-content: center;
    text-align: center;
  }

  .nb-progress-bar {
    width: 90%;
  }

  &.edit {
    width: 5%;
    text-align: right;
    border-bottom: none;
    padding-left: 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
}

.editButton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.editButton:hover {
  transform: scale(1.001);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.editIcon {
  width: 50%;
  align-self: center;
}

.project {
  display: flex;
  align-items: center;
  padding: 0 0 0 0.8rem;
  background-color: #f8f5ed;
  border-radius: 0.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  border-bottom: none;
}

.scrollable-content {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}

.red-project-deadline {
  color: red;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  width: 100%;
  display: flex;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickable-row {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 0.5rem 0rem;
  width: 100%;
  display: flex;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickable-row:hover {
  transform: scale(1.001);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.sortButton {
  background-color: transparent;
  border: none;
  cursor: pointer;

  & img {
    width: 14px;
  }
}
